body{
    margin: 0;
}

#container{
    
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: deepskyblue;
}

.loader{
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.small{
    
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    transform: rotate(0deg;)
}

.square:last-child{
    bottom: 0;
    right: 0;
    animation-name: load-two;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.square:first-child{
    top: 0;
    left: 0;
    animation-name: load-one;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}