body {
    background-color: darkcyan;
}

#container {
    margin-top: 100px;
    margin-left: 200px;
    width: 100px;
    height: 100px;
    position: relative;
}


.small {
    position: absolute;
    width: 50px;
    height: 50px;

}

#square1 {
    background-color: aqua;
    top: 0;
    left: 0;
        animation: spin 4s linear infinite; 

}

#square2 {
    background-color: firebrick;
    bottom: 0;
    right: 0;
        animation: spin2 4s linear infinite; 

}

@keyframes spin {
from { transform: rotate(0deg) rotate(0deg) ; }
    to   { transform: rotate(360deg) rotate(360deg); }
    
}

@keyframes spin2 {
from { transform: rotate(360deg) rotate(0deg) ; }
    to   { transform: rotate(0deg) rotate(360deg); }
    
}

.column:last-child{
    position: absolute;
    right: 0;
}