body {
    margin: 10px;
}

#container {
    background-color: #213b50;
}

input:focus {
    background-color: #4e708c;
    border: 1px solid white;
}

input {
    background-color: #2b4a64;
    border: none;
}

label {
    color: white;
}

textarea {
    background-color: #2b4a64;
    border: none;
}

textarea:focus {
    border: 1px solid white;
}
g
select {
    background-color: #2b4a64;
    border: none;
    color: white;
}

select:focus {
    border: 1px solid white;

}

input[type=submit] {
    background-color: #1ac056;
    color: white;
    border: none;
    width: 75px;
    height: 35px;
}

h4 {
    color: white;
}