body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-image: url(img/header-background.jpg);
    background-position: center;
    background-size: cover;
}

nav > ul > li {
    color: #ffffff;
    display: inline-block;
    margin: 25px;
}

nav > ul {
    text-align: right;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    height: 500px;
}

h1 {
    position: absolute;
    color: green;
    text-align: center;
    display: inline-block;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 140px;
    font-family: 'Roboto', sans-serif;
}

h1:before {
    content: "Jan ";
    color: white;
}

h2 {
    position: absolute;
    text-align: center;
    color: white;
    display: inline-block;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

article {
    color: black;
}

h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3.first::after {
    content: " mnie";
    color: green;
}

h3.second::after {
    content: " umiejętności";
    color: green;
}

h3.third::after {
    content: " portfolio";
    color: green;
}

.with-photo > img {
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 18%;
    margin-top: 5%;
    border: 5px solid red;
    border-radius: 5%;
}

h3.second {
    clear: both;
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
}

#about {
    margin-right: 5%;
    margin-left: 50%;
    margin-top: 5%;
}


.icons {
    display: inline-block;
    margin: 35px;
}

.icons > p {
    text-align: center;
}

.my > p {
    text-align: center;
}

#block {
    margin-left: 25%;
    margin-right: 25%;
}


footer {
    color: white;
    background-color: #213b50;
    margin-bottom: 0;
}

h4 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

h4::after {
    content: " Nowak";
    color: green;
    font-family: 'Roboto', sans-serif;
}

#f1 {
    float: left;
}

form {
    text-align: right;
    padding: 100px;
}

input:focus {
    background-color: #4e708c;
    border: 1px solid white;
}

input {
    background-color: #2b4a64;
    border: none;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 600px;
    color: white;
}

#potrfolio{
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.portfolio-item {
    height: 350px;
    background: no-repeat center cover;
    display: inline-block;
    width: 33.33333%;
    position: relative;
}

.portfolio-items {
    text-align: center;
    font-size: 0;
}

#portfolio-item-1 {
    background-image: url(img/portfolio1.jpg);
}

#portfolio-item-2 {
    background-image: url(img/portfolio2.jpg);
}

#portfolio-item-3 {
    background-image: url(img/portfolio4.jpg);
}

.item-mask {
    font-size: initial;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 61, 79, 0.8);
    opacity: 0;
}

.item-mask:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.item-content {
    color: #fff;
    border: 1px solid white;
    height: 330px;
    position: relative;
    margin: 10px;
}

.item-content-inner {
    position: absolute;
    padding: 5px;
    left: 0;
    right: 0;
    top: 50%;
}

textarea {
    background-color: #2b4a64;
    border: none;
    color: #ffffff;
    width: 600px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea:focus {
    border: 1px solid white;
}

input[type=submit] {
    background-color: #1ac056;
    color: white;
    border: none;
    width: 75px;
    height: 35px;
}

#f1 {
    margin-left: 5%;
}
#foot{
    background-color: darkblue;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

#foot > p{
    margin-left: 60px;
}