body{
    position: relative;
    margin: 0;
        box-sizing: border-box;
}
header{
    position: relative;
    background-image: url(img/header-background.jpg);
    background-position: center;
    background-size: cover;
}

nav > ul > li {
    color: #ffffff;
    display: inline-block;
    margin: 25px;
}

nav > ul {
    text-align: right;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    height: 500px;
}

h1{
    position: absolute;
    color: green;
    text-align: center;
    display: inline-block;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 140px;
}
h1:before{
    content: "Jan ";
    color: white;
}
h2{
    position: absolute;
text-align: center;
    color: white;
        display: inline-block;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 40px;
}
article{
    color: black;
}
.with-photo{
    
}
h3{
    text-align: center;
}
h3.first::after{
    content: " mnie";
    color: green;
}
h3.second::after{
    content: " umiejętności";
    color: green;
}
h3.third::after{
    content: " portfolio";
    color: green;
}
.with-photo > img{
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 18%;
    margin-top: 5%;
    border: 5px solid red;
    border-radius: 5%;
}

h3.second{
    clear: both;
    margin-top: 20%;
}
#about{
    margin-right: 5%;
    margin-left: 50%;
    margin-top: 5%;
}


.icons {
display: inline-block;
    margin: 35px;
}
.icons > p{
    text-align: center;
}
.my > p{
text-align: center;
}
#block{
    margin-left: 25%;
    margin-right: 25%;
}


footer{
    color: white;
    background-color: #213b50;
    margin-bottom: 0;
}

h4{
    font-size: 30px;
}
h4::after{
    content: " Nowak";
    color: green;
}
#f1{
    float: left;
}
#f2{
    margin-right: 0;
    margin-left: 80%;
}

input:focus {
    background-color: #4e708c;
    border: 1px solid white;
}

input {
    background-color: #2b4a64;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    color: white;
}

.portfolio-item{
    height: 350px;
    background: no-repeat center cover;
    display: inline-block;
    width: 33.33333%;
    position: relative;
}

.portfolio-items{
text-align: center;
    font-size: 0;
}

#portfolio-item-1{
    background-image: url(img/portfolio1.jpg);
}

#portfolio-item-2{
    background-image: url(img/portfolio2.jpg);
}

#portfolio-item-3{
background-image: url(img/portfolio4.jpg);    
}
.item-mask{
font-size: initial;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 61, 79, 0.8);
    opacity: 0;
}

.item-mask:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

textarea {
    background-color: #2b4a64;
    border: none;
    color: #ffffff;
}

textarea:focus {
    border: 1px solid white;
}
input[type=submit] {
    background-color: #1ac056;
    color: white;
    border: none;
    width: 75px;
    height: 35px;
}

#f1 {
    margin-left: 5%;
}
