@import "upper";
@import "lower";
@import "contact-form";
@import "headers";
@import "mixiny";
@import "zmienne";

body {
    color: $allTextColor;
    font-family: $main-font;
    margin: 0;
}

#upper {
    background-image: url(background.png);
    width: 100%;
    height: 100vh;
    position: relative;
    @include tlo;
}