* {
box-sizing: border-box;
margin: 0;
font-style: Verdana;
}
#container{
background-image: url(man-1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 100vh;
position: relative;
}
.headers{
position: absolute;
width: 100%;
padding: 40px;
color: white;
top: 50%;
bottom: 0;
}
h1, h2{
text-align: left;
}

@media (min-width: 992px) and (max-width: 1170px){
#container{
background-image: url(man-2.jpg);
height: 70vh;
}
h1, h2{
text-align: left;
}
.headers{
right: 0;
width: 45%;
top: 0;
}
}

@media (max-width: 992px){
#container{
background-image: url(man-1.jpg);
height: 50vh;
}
h1, h2{
text-align: center;
}
.headers{
width: 100%;
top: 100%;
color: black;
}
}