#galery{
    width: 100%;
}

@media (min-width:992px) and (max-width:2000px) {
figure {
width: 33%;
}
}

@media (min-width:768px) and (max-width:992px) {
figure {
width: 49%;
}
}

@media (max-width:768px) {
figure {
width: 90%;
}
}

@media (max-width:480px) {
figure {
width: 100%;
}
}