* {
    box-sizing: border-box;
    font: 20px Arial, serif;
}

#calculator {
    width: 239px;
    padding: 10px 10px;
    background: #0088cc;
}

.top .result {
    height: 40px;
    width: 212px;
    background: #fff;
    border-radius: 3px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    text-align: center;
}

.keys,
.top {
    overflow: hidden;
}

.keys span,
.top span.clear {
    float: left;
    position: relative;
    text-align: center;
    width: 66px;
    height: 36px;
    background: white;
    border-radius: 3px;
    margin: 0 7px 11px 0;
    line-height: 36px;
    transition: all 0.2s ease;
}